<div class="pets-list">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Pets Ground</h1>
      <p class="lead">
        Now you can look at other people's cute pets, or you can create your own
        pets to let other people look them.
      </p>
      <button class="btn btn-primary">Create</button>
    </div>
  </div>
  <div class="pets-cards">
    <div class="pet-card" *ngFor="let pet of pets">
      <app-pet-card
        [pet_name]="pet.pet_name"
        [pet_ownerEmail]="pet.pet_ownerEmail"
        [pet_ownerImage]="pet.pet_ownerImage"
        [pet_image]="pet.pet_image"
        [description]="pet.description"
        [pet_id]="pet.id"
      ></app-pet-card>
    </div>
  </div>
</div>
