<div class="pet-detail">
  <div class="card-container">
    <div class="card">
      <div class="card-header text-center">
        {{ petInfo?.pet_name }}
      </div>
      <img
        [src]="petInfo?.pet_image"
        class="card-img-top"
        [alt]="petInfo?.pet_name"
      />
      <div class="card-body">
        <h5 class="card-title">Owner: {{ petInfo?.pet_ownerName }}</h5>
        <p class="card-text">
          {{ petInfo?.description }}
        </p>
        <button
          class="btn btn-outline-primary mb-3"
          *ngIf="showEditButton()"
          [routerLink]="['/pets/edit', id]"
        >
          Edit
        </button>
      </div>
    </div>
    <div class="pet-comments">
      <app-pet-comment [id]="id"></app-pet-comment>
    </div>
  </div>
</div>
