.pet-detail {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  .card-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    .card {
      width: 18rem;
      height: 32rem;
      overflow: scroll;

      .card-header {
        font-size: 1.5rem;
      }
    }
    .pet-comments {
      width: 49%;
      height: 38rem;
      border: 1px solid lightgray;
    }
  }
}
