.sign-up {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-up-container {
    width: 40%;
    display: flex;
    flex-direction: column;

    .sign-up-title {
      text-align: center;

      p {
        font-size: 2rem;
      }
    }

    .button-group {
      .sign-up-btn {
        width: 100%;
        background-color: rgba($color: #f3b01f, $alpha: 0.25);
      }
    }
  }
}
