<div class="pet-comment">
  <div class="pet-comment-header">
    Comments
  </div>
  <div class="pet-comment-content">
    <div *ngFor="let comment of petComments" class="comment">
      <p>
        {{ comment.comment }}
      </p>
      <p class="ml-3">------ {{ comment.commentGiver }}</p>
    </div>
  </div>
  <div class="comment-actions">
    <button class="btn btn-light" (click)="onAddComment()">
      Add Comment
    </button>
  </div>
  <app-add-comment
    *ngIf="addComment"
    [petId]="id"
    (cancelSubmit)="handleCancel($event)"
  ></app-add-comment>
</div>
