.pet-comment {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .pet-comment-header {
    position: sticky;
    top: 0;
    height: 10%;
    background-color: rgb(240, 238, 238);
    font-size: 1.5rem;
    text-align: center;
    padding: 0.75rem;
  }

  .pet-comment-content {
    border-bottom: 1px solid lightgray;
    height: 82%;
    overflow: scroll;

    .comment {
      display: flex;
      flex-direction: column;
      border-top: 1px solid lightgray;
      background-color: rgba(224, 222, 222, 0.25);
    }
  }

  .comment-actions {
    height: 8%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}
